* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: normal;
    background-repeat: no-repeat;
    list-style-type: none;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'verdana', sans-serif;
}

.background {
    background-color: #f4f4f4;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.background-1 {
    background-color: #009888;
    height: 100vh;
}

.background-2 {
    height: 1620px;
    padding-top: 548px;
    background-color: #f4f4f4;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.background-3 {
    height: 300px;
    background-color: #000;
}

.container {
    width: 1170px;
    margin: 0 auto;
}


/* Меню */

.header {
    height: 140px;
    background-color: #009888
}

div.logo {
    margin: 25px 0 0 15px;
    float: left;
}

.menu {
    margin-top: 45px;
    margin-right: 19px;
    float: right;
}

.menu > ul >li {
    float: left;
    margin-left: 15px;
    width: 180px;
    height: 40px;
}

.menu .btn-green {
    outline: #75cbc5 solid 4px;
}

.menu .btn-green:hover,
.menu .btn-green:active {
    background-color: #75cbc5;
    outline: #75cbc5 solid 4px;
}

.menu .btn-red {
    outline: #f77482 solid 4px;
}

.menu .btn-red:hover,
.menu .btn-red:active {
    background-color: #f77482;
    outline: #f77482 solid 4px;
}

.menu .btn-purple {
    outline: #8783c0 solid 4px;
}

.menu .btn-purple:hover,
.menu .btn-purple:active {
    background-color: #8783c0;
    outline: #8783c0 solid 4px;
}

.menu .btn-orange {
    background-color: #fca67f;
    outline: #fca67f solid 4px;
}

.menu .btn-orange:hover,
.menu .btn-orange:active {
    background-color: rgba(0, 0, 0, .0);
    outline: #fca67f solid 4px;
}

.menu > ul > li > a {
    padding: 10px 15px 10px 15px;
    display: block;
    text-align: center;
    height: 100%;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.sub-menu {
    display: none;
}

.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover {
    display: block;
}

.sub-menu li {
    outline: #75cbc5 solid 4px;
    position: relative;
    margin-top: 8px;
    background-color: #75cbc5;
    z-index: 1;
}

.sub-menu li:hover {
    outline: #fca67f solid 4px;
}

.menu ul ul li a {
    padding: 10px 15px 10px 15px;
    display: block;
    text-align: center;
    height: 100%;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}

.header-center {
    text-align: center;
    width: 1170px;
    margin: 75px auto;
}

.box-search {
    height: 130px;
    background-color: #fff;
    margin: 80px 30px;
    border-radius: 100px;
    border: #646464 2px solid;
    box-shadow: 2px 2px 10px #646464
}

img.search {
    width: 70px;
    height: 70px;
    float: right;
    margin: 30px 40px;
}

div.search {
    margin: 40px 50px;
    float: left;
    font-size: 36px;
    text-transform: full-width;
    color: #c1bfbf;
}

.header-title {
    font-size: 78px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin: auto;
}

.sub-title,
.test-title {
    font-size: 24px;
    color: #fff;
    text-transform: inherit;
    margin-top: 20px;
}

.test-title {
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
}

.box {
    width: 945px;
    height: 540px;
    margin: 107px auto;
    position: relative;
    z-index: 2;
}

.box .btn {
    width: 945px;
    height: 120px;
    margin: 20px auto;
}

.box a {
    display: block;
    text-align: center;
    height: 100%;
    text-decoration: none;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 40px 0;
}

.box .btn-green {
    background-color: #75cbc5;
}

.box .btn-red {
    background-color: #f77482;
}

.box .btn-purple {
    background-color: #8783c0;
}

.box .btn-orange {
    background-color: #fca67f;
}

.box .btn:hover {
    box-shadow: 6px 6px #aeaeae;
    transition: .3s;
}

.replica-right {
    height: 271px;
    position: relative;
}

.rectangle {
    height: 96px;
    width: 678px;
    background-color: #fff;
    outline: #646464 solid 2px;
    position: absolute;
    right: 180px;
    top: 9px;
    box-shadow: 7px -7px #f77482;
}

.phrase {
    font-family: "courier new", serif;
    font-size: 28px;
    color: #565656;
    margin: 32px 85px;
}

.block-triangle {
    position: relative;
}

.border-triangle {
    width: 0;
    height: 0;
    border: 37px solid transparent;
    border-top: 37px solid #646464;
    border-right: 36.5px solid #646464;
    position: absolute;
}

.in-triangle {
    width: 0;
    height: 0;
    border: 34px solid transparent;
    border-top: 34px solid #fff;
    border-right: 34px solid #fff;
    position: absolute;
    left: 3px;
}

.block-triangle {
    position: absolute;
    right: 275px;
    top: 105px;
}

.circle {
    width: 94px;
    height: 94px;
    background: #fff;
    border-radius: 50%;
    border: #646464 2px solid;
    position: absolute;
    bottom: 0;
    right: 107px;
    box-shadow: 3px -5px 0 2px #8783c0;
}

.avatar {
    width: 59px;
    margin: 15px 15px;
}

.replica-left {
    margin-top: 169px;
    height: 271px;
    position: relative;
}

.replica-left .rectangle {
    position: absolute;
    left: 180px;
    width: 739px;
    box-shadow: -7px -7px #fca67f;
}

.replica-left .phrase {
    margin: 32px 58px;
}

.replica-left .block-triangle {
    position: relative;
}

.replica-left .border-triangle {
    border: 37px solid transparent;
    border-top: 37px solid #646464;
    border-left: 36.5px solid #646464;
    position: absolute;
}

.replica-left .in-triangle {
    border: 34px solid transparent;
    border-top: 34px solid #fff;
    border-left: 34px solid #fff;
    position: absolute;
    left: 2px;
}

.replica-left .block-triangle {
    position: absolute;
    left: 200px;
}

.replica-left .circle {
    position: absolute;
    left: 107px;
    box-shadow: -3px -5px 0 2px #8783c0;
}

.good-idea {
    padding-top: 170px;
    color: #e8e8e8;
    text-transform: uppercase;
    font-size: 108px;
    font-weight: bold;
    text-align: center
}

.footer,
a {
    text-decoration: none;
    text-align: center;
    color: #fff;
}

.main-footer {
    padding: 60px 15px;
    margin: auto;
}

.footer-logo,
.navigation,
.contacts {
    width: 380px;
    float: left;
}

div.footer-title {
    margin-top: -15px;
}

div.footer-logo,
div.mail {
    margin-top: 30px;
}

span.footer-title {
    font-size: 16px;
    font-weight: bold;
}

.navigation li:first-child {
    padding-top: 10px;
}

.footer a {
    display: block;
    color: #fff;
    line-height: 2;
    text-decoration: none;
    cursor: pointer;
}

.footer a:after {
    background-color: #ffeb3b;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}

.footer a:hover:after,
.footer a:focus:after {
    width: 100%;
}

.sub-footer {
    margin-top: 130px;
    clear: both;
}

.sub-footer a {
    display: inline
}

section.question {
    padding: 60px 15px;
}

.question-img {
    background-color: whitesmoke;
    border: 2px solid #646464;
    width: 930px;
    margin: 0px 120px;
    border-radius: 40px;
    box-shadow: #75cbc5 9px 9px;
    padding: 30px;
    position: relative;
}

.false-img {
    box-shadow: #fca67f 9px 9px;
}

div.question-img > img {
    width: 500px;
    margin: 5px 185px;
    align-items: center;
    outline: #646464 2px solid;
    box-shadow: 8px 8px #fca67f;
}

.quest,
.answ {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}

.answ {
    margin-top: 50px;
}

.qtext {
    margin-bottom: 40px;
}

.qtext,
.atext {
    font-size: 18px;
    color: #646464;
    padding: 15px;
    padding-left: 20px;
    border: #646464 2px solid;
}

.qtext {
    box-shadow: 5px 5px #f77482;
}

.atext {
    box-shadow: 5px 5px #8783c0;
}

.icon img {
    height: 48px;
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 1;
}

.false:hover::after,
.true:hover::after {
    content: attr(data-title);
    position: absolute;
    right: 55px;
    top: 24px;
    padding: 4px;
    border: black 1px solid;
    border-right: #fca67f 15px solid;
    z-index: 0;
    font-size: 14px;
}

.true:hover::after {
    border-right: #75cbc5 15px solid;
}

.margin {
    background-color: #f4f4f4;
    background-image: url(images/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 1300px;
}

.info-box {
    height: 620px;
    margin-top: 125px;
    box-shadow: 8px 8px #75cbc5;
    background-image: url(images/background.png);
}

div.replica-left.donation.first {
    margin-top: 10px;
    margin-left: -90px;
}

div.replica-right.donation.first {
    margin: 0;
}

div.replica-left.donation.first .rectangle {
    width: 50%;
    padding: 16px 20px 16px 40px;
}

div.donation.first .rectangle {
    width: 600px;
    padding: 25px 20px 16px 40px;
}

div.donation.first .rectangle {
    right: 83px
}

div.donation.first .phrase {
    margin: 0;
}

div.replica-left.donation.first .border-triangle {
    border: 24px solid transparent;
    border-top: 24px solid #646464;
    border-left: 23.5px solid #646464;
}

div.replica-left.donation.first .in-triangle {
    border: 21px solid transparent;
    border-top: 21px solid #fff;
    border-left: 21px solid #fff;
}

div.replica-left.donation.first .circle {
    top: 130px;
    left: 100px;
}

div.donation.first .block-triangle {
    right: 150px;
}

div.replica-right.donation.first .border-triangle {
    border: 24px solid transparent;
    border-top: 24px solid #646464;
    border-right: 23.5px solid #646464;
}

div.donation.first .in-triangle {
    border: 21px solid transparent;
    border-top: 21px solid #fff;
    border-right: 21px solid #fff;
}

div.donation.first .circle {
    top: 130px;
    right: 6px;
}

.points {
    margin-left: 30px;
}

.point {
    height: 20px;
    width: 20px;
    background-color: #646464;
    border-radius: 50%;
    float: left;
    margin: 5px
}

.question-img.info-box.second {
    box-shadow: 8px 8px #f77482;
    height: 700px;
}

.question-img.info-box.second .replica-left.donation.first .rectangle {
    width: 640px;
    padding-top: 26px;
}

div.donation.first .rectangle.requisites {
    width: 700px;
    height: 210px;
}

div.donation.first .circle.requisites {
    top: 240px;
    right: 6px;
}

div.donation.first .block-triangle.requisites {
    top: 219px;
    right: 150px;
}

a.requisites {
    font-family: "courier new", serif;
    font-size: 28px;
    color: #565656;
}

.link a {
    text-decoration: none;
    display: inline-block;
}

.link a:after {
    display: block;
    content: "";
    height: 3px;
    width: 0%;
    background-color: #fca67f;
    transition: width 0.4s ease-in-out;
}

.link a:hover:after,
.link a:focus:after {
    width: 100%;
}

p.requisites {
    font-weight: bold;
}
