:root {
    --default_font-size: 12px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: var(--default_font-size);
    font-family: Roboto, Arial, sans-serif;
}

@media (max-width: 801px) {
    html {
        font-size: 10px;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 8px;
    }
}

a {
    color: #000000;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.container {
    max-width: 1110px;
    width: 100%;
    margin: 0 auto;
}

.centred-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.centred-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
}

.timer {
    color: rgba(0, 0, 0, 0.2);
    font-size: 24rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 20px 40px;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    transition-duration: 0.4s;
}

.is-disabled {
    color: rgba(0, 0, 0, 0.05);
}

.centred-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    width: 60%;
}

.col-container {
    display: flex;
}

.like-btn {
    display: flex;
    align-items: center;
    justify-items: center;
}

.dislike {
    margin-left: 8px;
}

.like-btn__icon {
    height: 20px;
    filter: invert(80%);
    transition-duration: 0.2s;
}

.like-btn__text {
    text-align: start;
    min-width: 52px;
    color: #030303;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-left: 8px;
}

.dislike .like-btn__icon {
    transform: rotate(0.5turn);
}

.pressed .like-btn__icon {
    filter: invert(5%);
}

.subscribe-btn {
    margin-left: 16px;
    padding: 10px 16px;
    border-radius: 2px;
    background-color: #c00;
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
}

.subscribed {
    background-color: rgba(0, 0, 0, 0.05);
    color: #606060;
}
