data/
lec/
src/
out/

#07_exam.ipynb
#img/07*

#08_exam.ipynb
#img/08*
#
#11_exam.ipynb
#img/11*
#
#21_exam.ipynb
#img/21*
#
#24_exam.ipynb
#img/24*
#
#28_exam.ipynb
#img/28*

#29_exam.ipynb
#img/29*

#36_exam.ipynb
#img/36*
#
#38_exam.ipynb
#img/38*
#
#42_exam.ipynb
#img/42*
