.background {
    -fx-background-color: #301B28;
}

.sub-background {
    -fx-background-color: #523634;
}

.highlight {
    -fx-background-color: #00000F;
}

.header {
    -fx-font-weight: bold;
}

.text-field {
    -fx-background-color: #DDC5A2;
}

.button {
    -fx-background-color: #B6452C;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.label {
    -fx-text-fill: white;
}

.table-view {
    -fx-background-color: #523634;
}

.table-view .column-header {
    -fx-background-color: #00000F;
}

.table-view .text-field {
    -fx-background-color: #301B28;
    -fx-text-fill: white;
}

.menu-bar {
    -fx-background-color: #00000F;
}
