aniso8601==9.0.1
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-JWT-Extended==4.2.1
flask-peewee==3.0.4
Flask-RESTful==0.3.9
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
passlib==1.7.4
peewee==3.14.4
PyJWT==2.4.0
pytz==2021.1
six==1.16.0
Werkzeug==2.0.1
wtf-peewee==3.0.2
WTForms==2.3.3
